<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.faircode.netguard">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- http://developer.android.com/guide/topics/security/permissions.html#normal-dangerous -->

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.software.app_widgets"
        android:required="false" />

    <application
        android:name="ApplicationEx"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeTeal">

        <activity
            android:name=".ActivityMain"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivitySettings"
            android:configChanges="orientation|screenSize"
            android:label="@string/menu_settings"
            android:parentActivityName=".ActivityMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>

        <activity
            android:name=".ActivityLog"
            android:configChanges="orientation|screenSize"
            android:label="@string/menu_log"
            android:parentActivityName=".ActivityMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>

        <activity
            android:name=".ActivityPro"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_pro"
            android:parentActivityName=".ActivityMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>

        <activity
            android:name=".ActivityForwarding"
            android:configChanges="orientation|screenSize"
            android:label="@string/setting_forwarding"
            android:parentActivityName=".ActivitySettings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivitySettings" />
        </activity>

        <activity
            android:name=".ActivityForwardApproval"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppDialog">
            <intent-filter>
                <action android:name="eu.faircode.netguard.START_PORT_FORWARD" />
                <action android:name="eu.faircode.netguard.STOP_PORT_FORWARD" />
            </intent-filter>
        </activity>

        <service
            android:name=".SinkholeService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".Receiver"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".Widget"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="eu.faircode.netguard.APPWIDGET_ON" />
                <action android:name="eu.faircode.netguard.APPWIDGET_OFF" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>
    </application>
</manifest>
